<table style='width:100%'>
  <tr>
    <td style='width:20%'>
      <h2>The rendered form</h2>
      <h3><%=@form.form_name%></h3>
      <% @coder = HTMLEntities.new %>

            <ul>

           <%= generate_form(@form).html_safe %>

              </ul>
            </td>

            <td style='width:10%'>
            </td>

    <td style='width:40%'>

      <h3>The code!</h3>
        <div>

        <section class='code-label'>
          <br>

          <%= @coder.decode("<ul class='export-style-color-ul export-style-layout-ul'>") %>

        <%= generate_form(@form) %>

        <%= @coder.decode('</ul>') %>

        </section>
        <br>
        <% color = @form.color_css %>
        <% layout = @form.layout_css %>
        <script>
        $('document').ready(function(){
          setTimeout(function(){
            var $context = $('#<%=@form.id%>.display-row');
            var color = '<%= color %>';
            if (color === ""){
              color = "Color 6";
            };
            var layout = '<%= layout %>';
            if (layout === ""){
              layout = "Layout 5";
            };
            var form_id = '<%= @form.id %>';
            applyStyle($context, color, layout);
          }, 10);
        });
        </script>
      </td>
  </tr>
</table>
