<h2>The code!</h2>
<% @coder = HTMLEntities.new %>
  <div>

  <section class='code-label'>
      <br>
  <%= @coder.decode(generate_header(@form))%>
  <br>

  <%= @coder.decode('<br>')%>


  <%= @coder.decode('<br>')%>
  <br>
  </section>
  <br>
  <section class='code-label'>

    <%= @coder.decode("<ul class='export-style-color-ul export-style-layout-ul'>") %>

<%= generate_form(@form) %>

  <%= @coder.decode('</ul>') %>
  </section>
  <br>