<h2>The code!</h2>
<% @coder = HTMLEntities.new %>
  <div>

  <section class='code-label'>
      <br>
  <%= @coder.decode(generate_header(@form))%>
  <br>

  <%= @coder.decode('<br>')%>


  <%= @coder.decode('<br>')%>
  <br>
  </section>
  <br>
  <section class='code-label'>

    <%= @coder.decode("<ul class='export-style-color-ul export-style-layout-ul'>") %>

  <% @form.entries.each do |entry| %>

  <br>

  <% @instructions = entry.as_json["instructions"].dup%>

  <% @form_hash  = entry.as_json.reject {|k,v| v==nil}.reject{|k,v| k=="created_at" || k=="updated_at" || k=="instructions" } %>

  <br>

  <%= @coder.decode("<text>" + @instructions + "</text>") %>
  <%= @coder.decode("<br>")%>
  <br>
  <%= @coder.decode("<li class='export-style-color-li export-style-layout-li'>") %>
  <%= @coder.decode('<label>') + entry.as_json["label"] %>
  <%= @coder.decode(strip_nested_form_tags(form_gen(@form_hash)))%>
  <%= @coder.decode('</label>') %>
  <%= @coder.decode('</li>') %>
  <br>

  <% end %>

  <%= @coder.decode('</ul>') %>
  </section>
  <br>
  <section class='code-label'><br>
  <%= @form.closing_text%>

  </section>