<body style="background-color:#CCFFFF">

<h2 style="font-family:'Helvetica', sans-serif">The rendered form</h2>
<h3 style="font-family:'Garamond', sans-serif; margin-left: 20px"><%=@form.form_name%></h3>


<div id='<%=@form.id%>' class='display-row'>
  <ul>



<%= generate_form(@form).html_safe %>




<% color = @form.color_css %>
<% layout = @form.layout_css %>
<script>
$('document').ready(function(){
  setTimeout(function(){
    var $context = $('#<%=@form.id%>.display-row');
    var color = '<%= color %>';
    if (color === ""){
      color = "Color 6";
    };
    var layout = '<%= layout %>';
    if (layout === ""){
      layout = "Layout 5";
    };
    var form_id = '<%= @form.id %>';
    applyStyle($context, color, layout);
  }, 10);
});
</script>

  </ul>
</div>

</body>