<body style="background-color:#CCFFFF">

<div id='<%=@form.id%>' class='display-row'>
<ul>

<h3 style="font-family:'Garamond', sans-serif; margin-left: 20px"><%= @additional_info[1].nil? ? "Hello!": @additional_info[1]  %> </h3>
<h3 style="font-family:'Garamond', sans-serif; margin-left: 20px"><%=@form.form_name%></h3>

%= generate_form(@form).html_safe %>

<% color = @form.color_css %>
<% layout = @form.layout_css %>
<script>
$('document').ready(function(){
  setTimeout(function(){
    var $context = $('#<%=@form.id%>.display-row');
    var color = '<%= color %>';
    if (color === ""){
      color = "Color 6";
    };
    var layout = '<%= layout %>';
    if (layout === ""){
      layout = "Layout 5";
    };
    var form_id = '<%= @form.id %>';
    applyStyle($context, color, layout);
  }, 10);
});
</script>

  </ul>
</div>

</body>