<li>


  <div class = "input_field">





    <% if !flash[:parameter_error].nil? %>
      <div id="error">
        <p><%= flash[:parameter_error] %></p>
        <div class="clear"></div>
      </div>
    <% end %>

  <h3>Please edit the attributes for your entry</h3>

    <form class="header_field" method='POST' action='/entries/<%=params[:id]%>'>
    <input type="hidden" name="_method" value="PUT">

      <label class='protected'>Name input:
        <input type="text" name='field[name]' value='<%=@entry.name%>'></input>
                <br>
      </label>

      <label id = 'label-input' class='protected'>Label Input:
        <input id ='label-input' type="text" name='field[label]' value='<%=@entry.label%>'></input>
      </label>

      <table>

      <label>
        <br>
        <input type="radio" class="select-button" name ='field[input_tag_type]' value="text_field"  <%= "checked" if @entry.input_tag_type == "text_field"  %> >Single Line Text</input>
        <input type="radio" class="select-button" name ='field[input_tag_type]' value="password_field" <%= "checked" if @entry.input_tag_type == "password_field" %>>Password</input>
        <input type="radio" class="select-button" name ='field[input_tag_type]' value="text_area" <%= "checked" if @entry.input_tag_type == "text_area" %> >Paragraph Text</input>
        <br>
        <input type="radio" class="select-button" name ='field[input_tag_type]' value="number_field" <%= "checked" if @entry.input_tag_type == "number_field" %>>Number</input>
        <input type="radio" class="select-button" name ='field[input_tag_type]' value="date_select" <%= "checked" if @entry.input_tag_type == "date_select" %>>Date</input>
        <input type="radio" class="select-button" name ='field[input_tag_type]' value="datetime_select" <%= "checked" if @entry.input_tag_type == "datetime_select" %>>Date & Time </input>
        <input type="radio" class="select-button" name ='field[input_tag_type]' value="hidden_field" <%= "checked" if @entry.input_tag_type == "hidden_field" %>>Hidden Field</input>
        <br>
        <input type="radio" class="select-button" name ='field[input_tag_type]' value="check_box_tag" <%= "checked" if @entry.input_tag_type == "check_box_tag" %>>Checkboxes</input>
        <input type="radio" class="select-button" name ='field[input_tag_type]' value="select_tag" <%= "checked" if @entry.input_tag_type == "select_tag" %>>Dropdown</input>
        <input type="radio" class="select-button" name ='field[input_tag_type]' value="select_tag_multiple" <%= "checked" if @entry.input_tag_type == "select_tag_multiple"%>>Multiple Choice</input>
        <br>
        <br>
      </label>
    </table>

      <div class='text_area'>
      <label class='text_area'>Please choose size of the text field:
      <select name = 'field[size]'>
        <option></option>
        <option value="20">Small</option>
        <option value="30">Medium</option>
        <option value="40">Large</option>
      </select>
        <br>
      </label>
      </div>

    <div class="check_box_tag">
      <label class="check_box_tag">Please choose the number of row for the
        field:
      <select class="check_box_tag"  name = 'field[display_rows]'>
        <option></option>
        <option value="2">One Row</option>
        <option value="3">Two Rows</option>
        <option value="4">Three Rows</option>
        <option value="1">One Column</option>
      </select>

      </label>
    </div>
        <br>
    <div class= "text_area text_field">
      <label class= "text_area text_field date_select datetime_select">Predefined Value:
      <input class= "text_area text_field date_select datetime_select" type="text" name='field[placeholder]' value='<%=@entry.placeholder%>'></input>

    </label>
  </div>
    <br>

      <label class= "protected"><br class="protected">Type any instructions for the user in this box:
      <textarea rows="2" cols="20" name='field[instructions]'><%=@entry.instructions%></textarea>
    <br>
    </label>


      <label class="protected">Add CSS Layout Keywords:
        <input id='CSSkeywords' type="text" name='field[klass]' value='<%=@entry.klass%>'></input>
        <br></label>


        <!-- NOTE, MAY WANT TO REPLACE THIS WITH A SCRIPT AND A RENDER -->

        <!-- NOTE: THESE NESTED DIVS ARE UGLY, BUT NEED TO ADD NEW CHOICES IN RIGHT SPOT AND YET ALSO HIDE ADD BUTTON ALONG WITH REST OF DIV TOO -->
        <div class="select_tag_multiple check_box_tag select_tag">
        <div class= "choice-collection">

          <label class="select_tag_multiple check_box_tag select_tag">
            <br>
            Please enter your multiple choice or checkbox selections below: <br>
          <br>
          </label>

          <%unless @entry.collection.nil?%>
              <%= @entry.collection.each do |option| %>
              <div>

              <%=generate_choice(option).html_safe%>

              </div>

              <%end%>
            <%end%>

        </div>

        <br>
          <button type='button' class="select_tag_multiple check_box_tag select_tag" onclick="addChoice()">Add another choice</button>
        <br>

      </div>

        <input name="authenticity_token" type="hidden" value='<%= form_authenticity_token%>'>

        <label class='protected'>
            <br>
          <input type="submit" class="submit-button" value="Save this form">
        </label>
      </form>

           <%= button_to("Return to Form Edit",  edit_form_path(@entry.form_id), {class: "button", method: :get}) %>
    </div>



    <script type='text/javascript'>
    var checked_tag = '<%=@entry.input_tag_type%>';
    $(document).ready(function(){
      $('.select-button').filter(' [value="' + checked_tag + '"]').click();
    })
    </script>

</li>