<% action = (user.persisted? ? user_url(user) : users_url) %>
<% method = (user.persisted? ? "put" : "post") %>
<% message = (user.persisted? ? "Update user" : "Create user") %>

<div class='new-user-container'>
  <h1>Create User</h1>
  <br>

<form action="<%= action %>" method="post">
  <input
     name="_method"
     type="hidden"
     value="<%= method %>">
  <input
     name="authenticity_token"
     type="hidden"
     value="<%= form_authenticity_token %>">

  <label for="user_username" class="user">Username</label>
  <input class="user_input"
     id="user_username"
     name="user[username]"
     type="text">
  <br>

  <% if !user.persisted? %>

  <label for="user_email">Email</label>
  <input
     id="user_user_email"
     name="user[user_email]"
     type="text">
  <br>

  <% end %>

  <label for="user_password">Password</label>
  <input
     id="user_password"
     name="user[password]"
     type="password">
  <br>

  <input type="submit" value="<%= message %>" class= 'login'>
</form>
<br>
  <%= button_to "Return to Login", new_session_path, {method: :get, class: 'login'} %>
</div>

