<!-- app/views/forms/new.html.erb -->
<!DOCTYPE html>


<html>
<head>
  <title>FormApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "new_form" %>
  <%= csrf_meta_tag %>
</head>


<section class="main group">
  TEST TEST
  <div class="navdiv">
    <div class="logo"></div>
    <nav>
      <li></li>
      <li></li>
    </nav>
  </div>



  <div class="display1 group">

    <%= render "layouts/navbar" %>


    <section class='input_field_container'>
      display1
      <ul>
        <li>
          <h3>Please enter your form header attributes here:</h3>
            <%@form = Form.find(params[:id])%>
            <form class="header_field" method='POST' action='/forms/<%=@form.id%>'>
            <input type="hidden" name="_method" value="PUT">

            <input
               name="authenticity_token"
               type="hidden"
               value="<%= form_authenticity_token %>">

              <label>Form Name: <input
              type="text" name='header[form_name]' value = '<%=@form.form_name%>' ></input></label>
                <br>

              Description: <textarea rows="2" cols="20"
              name='header[description]' ><%=@form.description%></textarea>
              <br>

              <label>Target Url: <input
              type="text" name='header[target_site]' value = '<%=@form.target_site%>'></input></label>

              <br>
              Integrate Captcha? <input type="checkbox"
              name="header[captcha]" value="true" checked>
              <br>
                    <input type="submit" class="submit-button" value="Edit this form's header">

            </form>
        </li>

        <%= render "partials/entry" %>


      </ul>
    </section>



      <section class= 'display_field_container'>
      <!-- NOTE SHOULD HAVE EACH BUTTON STYLED SIMILAR TO THE STYLE IT CONTAINS -->
        <div class="style_button_container">
        <nav>
          Colors:
          <button>Color 1</button>
          <button>Color 2</button>
          <button>Color 3</button>
          <button>Color 4</button>
          <button>Color 5</button>
          <button>Color 6</button>
          Layouts:
          <button>Layout 1</button>
          <button>Layout 2</button>
          <button>Layout 3</button>
          <button>Layout 4</button>
        </nav>
        </div>
        <br>

        <div class='display_field'>

<!-- NOTE: SHOULD CALL RENDER HERE, WITH A DEFAULT BLANK FORM -->
          <%= generate_header(Form.find(params[:id])).html_safe%>
          <br>
          <ul class = 'form-list'>
          <% if Entry.find_all_by_form_id(params[:id]).any? %>
          <% Entry.find_all_by_form_id(params[:id]).each do |entry| %>
          <!-- NOTE: NEED TO CHANGE HOW IT DISPLAYS LABEL.  SHOULD BE REDUNDANT WITH WORKING LABEL INTEGRATOR ON FORM_FOR -->
          <% @label = entry.as_json["label"] %>
          <div>
          <%= @label %>
          <br>
          <% @instructions = entry.as_json["instructions"] %>
          Instructions for <%= @label || "this entry" %>: <%= @instructions %>
          <% @form_hash  = entry.as_json.reject {|k,v| v==nil}.reject{|k,v| k=="created_at" || k=="updated_at" || k=="instructions" } %>

          <br>


          <% entry.update_attribute(:parsed_input, form_gen(@form_hash)) %>
          <%= entry.parsed_input.html_safe %>

          <%= button_to("Delete this entry", entry_url(entry.id),  method: "delete", data: { confirm: 'Are you sure?' }) %>
          <div/>

          <br>

          <% end %>

          <% end %>

          <%=raw(generate_submit)%>

        </ul>
        </div>
         <%= button_to("Delete this form", form_url(params[:id]),  method: "delete", data: { confirm: 'Are you sure?' }) %>

      </section>

    </div>



  <div class="footer">
    <div class="logo"></div>
    <nav>
      <li></li>
      <li></li>
    </nav>
    </div>
  </div>

</section>




</html>