<!-- app/views/forms/new.html.erb -->
<!DOCTYPE html>


<html>
<head>
  <title>FormApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
  <link href="http://fonts.googleapis.com/css?family=Allan:bold" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Cardo" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Raleway:100" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Allerta" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lekton" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Molengo" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Corben:bold" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>

</head>


<section class="main group">
  <div class="navdiv">
    <div class="logo"></div>
    <nav>
    </nav>
  </div>



  <div class="display1 group">


    <%= render "layouts/navbar" %>


    <section class='input_field_container'>
      display1
      <ul>

        <%= render "partials/form_edit" %>

        <div id="entry_input">

        <%= render "partials/entry_input" %>

        </div>


      </ul>
    </section>



      <section class= 'display_field_container'>

          <%= render "partials/format_buttons.html.erb"%>


        <div class='display_field'>

          <%= generate_header(Form.find(params[:id])).html_safe%>
          <br>
          <ul class = 'form-list'>
          <% @entries1 = Entry.find_all_by_form_id(params[:id]) %>
          <% @entries2 = Entry.find_all_by_form_id(params[:id]) %>
          <script class='stored_entries' type="application/json"> <%=html_to_input_params(@entries1[0]) %></script>


          <% if @entries2.any? %>
            <% @entries2.each do |entry| %>

            <% @label = entry.as_json["label"] %>
            <li>
            <%= @label %>
            <div class='id-entry' data-id='<%=entry.id%>'></div>
            <br>
            <% @instructions = entry.as_json["instructions"] %>
            Instructions for <%= @label || "this entry" %> :
            <br>
            <text><%= @instructions %></text>
            <% @form_hash  = entry.as_json.reject {|k,v| v==nil}.reject{|k,v| k=="created_at" || k=="updated_at" || k=="instructions" } %>

            <br>



            <%= form_gen(@form_hash).html_safe%>

         <%= button_to("Delete this form", form_url(params[:id]),  method: "delete", data: { confirm: 'Are you sure?' }) %>



          </li>

            <br>


            <% end %>

          <% end %>

          <%=raw(generate_submit)%>

        </ul>
        </div>


      </section>

    </div>

    <% if @entries2.any? %>
      <% @entries2.each do |entry| %>

            <%= button_to("Edit entry #{entry.id}", "/entries/#{entry.id}/edit",  method: "get", data: { confirm: 'Edit entry?' }) %>

        <%end%>
    <%end%>


  <div class="footer">
    <div class="logo"></div>
    <nav>
      <li></li>
      <li></li>
    </nav>
    </div>
  </div>

</section>




</html>