<!-- app/views/forms/new.html.erb -->
<!DOCTYPE html>


<html>
<head>
  <title>FormApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
  <link href="http://fonts.googleapis.com/css?family=Allan:bold" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Cardo" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Raleway:100" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Allerta" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lekton" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Molengo" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Corben:bold" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>

</head>

<div class='display2'>
    <section class='input_field_container'>
      <ul>

        <%= render "partials/form_edit" %>

        <div id="entry-input">

          <%= render "partials/entry_input" %>

        </div>

      </ul>
    </section>

      <section class= 'display_field_container'>

          <%= render "partials/format_buttons.html.erb"%>

          <% @form = Form.find(params[:id])%>

        <div class='display-row' id = '<%= @form.id %>'>

          <%= generate_header(@form).html_safe%>
          <br>
          <ul class = 'form-list'>
          <% @entries = Entry.find_all_by_form_id(params[:id]) %>
          <% if @entries.any? %>
            <% @entries.each do |entry| %>
            <li class="entry-li">
                <% @label = entry.as_json["label"] %>
                <%= @label %>
                <% @instructions = entry.as_json["instructions"] %>
                Instructions for <%= @label || "this entry" %> :
                <text><%= @instructions %></text>
                <% @form_hash  = entry.as_json.reject {|k,v| v==nil}.reject{|k,v| k=="created_at" || k=="updated_at" || k=="instructions" } %>

                <%= form_gen(@form_hash).html_safe%>
             </li>
             <div class='edit-delete-buttons-wrapper'>
               <div class="edit-delete-buttons">
                 <%= button_to("Delete", entry_url(entry.id),  method: "delete", data: { confirm: ('Do you want to delete ' + entry.name + '?') }) %>
                </div>
              </div>
              <%= button_to("Edit", "/entries/#{entry.id}/edit",  method: "get", data: { confirm: 'Edit this entry?' }, class: 'hidden') %>

            <% end %>
          <% end %>
          <%=raw(generate_submit)%>

          <% color = @form.color_css %>
          <% layout = @form.layout_css %>

        </ul>
        </div>
          <%= button_to("Delete this form", form_url(params[:id]),  method: "delete", data: { confirm: 'Are you sure?' }) %>
      </section>
    </div>


<script>
$('document').ready(function(){
  setTimeout(function(){
    var $context = $('#<%=@form.id%>.display-row');
    var color = '<%= color %>';
    if (color === ""){
      color = "Color 6";
    };
    var layout = '<%= layout %>';
    if (layout === ""){
      layout = "Layout 5";
    };
    var form_id = '<%= @form.id %>';
    applyStyle($context, color, layout);
  }, 10);
});
</script>




</html>