<!-- app/views/forms/new.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>FormApp</title>
  <%= stylesheet_link_tag  "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
  <link href="http://fonts.googleapis.com/css?family=Allan:bold" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Cardo" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Raleway:100" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Allerta" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lekton" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Molengo" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Corben:bold" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
</head>


  <% @forms = Form.find_all_by_owner_id(current_user.id)%>


  <h2>User's Forms</h2>

  <% @coder = HTMLEntities.new %>

  <table class='code-display-container group'>

  <% @forms.each do |form| %>

  <tr class='display-field display-row group' id = '<%= form.id %>'>
    <td>
    <table>
      <tr>
    <td class='email-buttons'>
      <%= button_to("Email this code to yourself", form_code_mail_url(form.id), data: { confirm: 'Are you sure?' }) %>
      <%= button_to("Email both the form and code to yourself", form_both_mail_url(form.id), data: { confirm: 'Are you sure?' }) %>
    </td>
    <td class='email-buttons'>
      <%= button_to("Email the rendered form to yourself", form_rendered_mail_url(form.id), data: { confirm: 'Are you sure?' }) %>
      <%= button_to("Email the rendered form as a survey to multiple users", form_email_input_url(form.id)) %>
    </td>
    </tr>
    <table>
    </td>

  <td class='right-display-column group'>

       <%= link_to "Edit This Form",  edit_form_path(form.id), :class => "button" %>
       <%= button_to("Delete this form", form_url(form.id),  method: "delete", data: { confirm: 'Are you sure?' }) %>

            <h2>The rendered form</h2>
            <h3><%=form.form_name%></h3>

            <%= generate_form(form).html_safe %>

              <!-- The below section applies the chosen color and layout styling using DOM traversal.  This is necessary because, since the forms are nested inside a single html document (with its own 'head') any css stylings within a form's head would not be rendered.  Although not ideal, by giving each table row an id associated with the form, I can insert the individual stylings as needed.  A more permanent solution would be to associate the ids with each specific portion of the form that needs to be styled. -->

              <% color = form.color_css %>
              <% layout = form.layout_css %>

              <script>
                var $context = $('#'+<%=form.id%>+'.display-field').children().children('ul').children('form:first').children('li');
                var color = '<%= color %>';
                var layout = '<%= layout %>';
                var form_id = '<%= form.id %>';
                console.log($context)
                console.log(color)
                console.log(layout)
                if (color === null){
                  colorIndex('Color 6', form_id)
                } else {
                  colorIndex(color, form_id);
                };
                if (layout === null) {
                  layoutIndex('Layout 5', form_id)
                } else {
                  layoutIndex(layout, form_id);
                };
              </script>

              </td>

            <td class='left-display-column group'>
            <h2>The code!</h2>
              <div>
                <section class='code-label'>
                  <%= generate_form(form) %>
                </section>
                <br>
                <section class='code-label'><br>
              </section>
              </div>
              </td>
            </tr>
          <% end %>
        </table>

</section>

</html>