<!-- app/views/forms/new.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>FormApp</title>
  <%= stylesheet_link_tag  "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
  <link href="http://fonts.googleapis.com/css?family=Allan:bold" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Cardo" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Raleway:100" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Allerta" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lekton" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Molengo" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Corben:bold" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
</head>



<section class="display1 group">

    <%= render "layouts/navbar" %>

  <% @forms = Form.find_all_by_owner_id(current_user.id)%>
<div class='display_field group'>

  <h2>User's Forms</h2>

  <% @coder = HTMLEntities.new %>

  <% @forms.each do |form| %>

  <div class='display-row'>

  <div class='right-display-column'>

       <%= link_to "Edit This Form",  edit_form_path(form.id), :class => "button" %>
       <%= button_to("Delete this form", form_url(form.id),  method: "delete", data: { confirm: 'Are you sure?' }) %>

    <h2>The rendered form</h2>
    <h3><%=form.form_name%></h3>

          <ul>

            <%= generate_header(form).html_safe%>

            <br>
              <% form.entries.each do |entry| %>

              <li>

                <% @label = entry.as_json["label"] %>
                <%= @label %>
                <br>
                Instructions for <%= @label || "this entry" %>: <%=  entry.as_json["instructions"]  %>
                <% @form_hash  = entry.as_json.reject {|k,v| v==nil}.reject{|k,v| k=="created_at" || k=="updated_at" || k=="instructions" } %>

                <br>

                <%= form_gen(@form_hash).html_safe%>

              </li>

              <% end %>

              <%= button_to("Email the rendered form to yourself", form_rendered_mail_url(form.id), data: { confirm: 'Are you sure?' }) %>
              <%= button_to("Email the rendered form as a survey to multiple users", form_email_input_url(form.id)) %>

            </ul>

            <br>
              </div>
            <div class='left-display-column'>
            <h2>The code!</h2>
              <div>

              <section class='code-label'>
                  <br>
              <%= @coder.decode(generate_header(form))%>
              <br>

              <%= @coder.decode('<br>')%>


              <%= @coder.decode('<br>')%>
              <br>
              </section>
              <br>
              <section class='code-label'>

                <%= @coder.decode("<ul class='export-style-color-ul export-style-layout-ul'>") %>

              <% form.entries.each do |entry| %>

              <br>

              <% @instructions = entry.as_json["instructions"].dup%>

              <% @form_hash  = entry.as_json.reject {|k,v| v==nil}.reject{|k,v| k=="created_at" || k=="updated_at" || k=="instructions" } %>

              <br>

              <%= @coder.decode("<text>" + @instructions + "</text>") %>
              <%= @coder.decode("<br>")%>
              <br>
              <%= @coder.decode("<li class='export-style-color-li export-style-layout-li'>") %>
              <%= @coder.decode('<label>') + entry.as_json["label"] %>
              <%= @coder.decode(form_gen(@form_hash))%>
              <%= @coder.decode('</label>') %>
              <%= @coder.decode('</li>') %>
              <br>

              <% end %>

              <%= @coder.decode('</ul>') %>
              </section>
              <br>
              <section class='code-label'><br>
              <%= form.closing_text%>

              <%= button_to("Email this code to yourself", form_code_mail_url(form.id), data: { confirm: 'Are you sure?' }) %>
              <%= button_to("Email both the form and code to yourself", form_both_mail_url(form.id), data: { confirm: 'Are you sure?' }) %>
              </section>
              </div>
              </div>

            </div>

          <% end %>

        </div>

</section>

</html>