<!-- app/views/forms/new.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>FormApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "new_form" %>
</head>


<section class="main group">
  TEST TEST
  <div class="navdiv">
    <div class="logo"></div>
    <nav>
      <li></li>
      <li></li>
    </nav>
  </div>



  <div class="display1 group">


    <section class='input_field_container'>
      display1
      <ul>
        <li>
          <h3>Please enter your form header attributes here:</h3>
          <div>
            <form class = "input_field" method = 'post'
            action='/users/<%=current_user.id%>/forms'>
              <label for='textarea'>Form Name:</label> <input id='textarea'
              type="text" name='header[form_name]'></input>
                <br>

              Description <textarea rows="2" cols="20"
              name='header[description]'>Type a description of your form's purpose here.</textarea>

                  </br>
                    Integrate Captcha? <input type="checkbox"
                    name="header[captcha]" value="true" checked>
                  </br>
                    <input type="submit" class="submit-button">


          </div>
        </li>

        <li>
          <h3>Please enter the attributes for a single parameter below</h2>
          <div>
            <div class = "input_field">


              <label>Please choose the type of input:
              <select name ='field[type]'>
                <option value="text_field">Single Line Text</option>
                <option value="password_field">Password</option>
                <option value="text_area">Paragraph Text</option>
                <option value="number_field">Number</option>
                <option value="check_box_tag">Checkboxes</option>
                <option value="select_tag">Dropdown</option>
              </select>
              </label>
              <br>

              <label>Name input:
                <input type="text" name='field[name]'></input>
              </label>
                <br>


              <label>Label Input:
              <textarea id='field_label' rows="2" cols="20"
              name='field[label]'>Type your field's label here.</textarea>
            </label>
              <br>




              <label for="field_size">(If text) Please choose size of the field:</label>
              <select id='input_collection' name = 'field[size]'>
                <option value="small">Small</option>
                <option value="medium">Medium</option>
                <option value="large">Large</option>
              </select>
              <br>

              <label>(If checkbox) Please choose the number of columns for the
                field:
              <select id='input_collection' name = 'field[input_cols]'>
                <option value="1">One Column</option>
                <option value="2">Two Columns</option>
                <option value="3">Three Columns</option>
                <option value="inline">Side By Side</options>
              </select>
              </label>

              <br>

              <label for='predefinedValue'>Predefined Value:</label> <input
              id='predefinedValue' type="text" name='field[value]'></input>
              <br>
              Instructions: <textarea rows="2" cols="20"
              name='field[instructions]'>Type any instructions for the user
              here.</textarea>
              <br>
              <label for='CSSkeywords'>Add CSS Layout Keywords:</label> <input
              id='CSSkeywords' type="text" name='field[csskeywords]'></input>
                <br>


                <!-- NOTE, MAY WANT TO REPLACE THIS WITH A SCRIPT AND A RENDER -->
                Please enter your multiple choice selections below:
                <div>
                  <input type="text" name='field[mc1]'></input>
                  <input type="submit" class="delete-button"
                  value="Delete this choice">
                </div>
                  <br>
                  <div>
                  <input type="text" name='field[mc2]'></input>
                  <input type="submit" class="delete-button"
                  value="Delete this choice">
                </div>
                  <br>
                  <div>
                  <input type="text" name='field[mc3]'></input>
                  <input type="submit" class="delete-button"
                  value="Delete this choice">
                </div>
                <br>
                  <input type="submit" class="submit-button" value="Add another choice">
                <br>

                <input name="authenticity_token" type="hidden" value='<%= form_authenticity_token%>'></div>

                <input type="submit" class="submit-button" value="Save this form">
              </div>
              </form>
              </div>
        </li>

      </ul>
    </section>

    <section class= 'display_field_container'>
      <!-- NOTE SHOULD HAVE EACH BUTTON STYLED SIMILAR TO THE STYLE IT CONTAINS -->
      <div class="style_button_container">
        <nav>
          <button>Style 1</button>
          <button>Style 2</button>
          <button>Style 3</button>
          <button>Style 4</button>
        </nav>
      </div>
      <br>

      <div class='display_field'>
<!-- NOTE: SHOULD CALL RENDER HERE, WITH A DEFAULT BLANK FORM -->
        FORM DOES NOT EXIST
      </div>


    </section>



  </div>


  <div class="footer">
    <div class="logo"></div>
    <nav>
      <li></li>
      <li></li>
    </nav>
  </div>

</section>




</html>