<!-- app/views/forms/new.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>FormApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
    <link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tag %>
</head>



    <% if !flash[:error].nil? %>
      <div id="error">
        <p><%= flash[:error] %></p>
        <div class="clear"></div>
      </div>
    <% end %>

    <div class='form_display_field'>
    <section class='input_field_container'>
      <ul>
        <li>
          <h3>Please enter your form header attributes here:</h3>
          <div>
            <form class="input_field" method='post'
            action='/users/<%=current_user.id%>/forms'>

            <input
               name="authenticity_token"
               type="hidden"
               value="<%= form_authenticity_token %>">

            <label>Form Name: <input
            type="text" name='header[form_name]'></input></label>
              <br>
              </label>

              <input type="hidden" name='header[owner_id]' value= <%=current_user.id%>
              <br>

            Description: <textarea rows="2" cols="20"
            name='header[description]'>Type a description of your form's purpose here.</textarea>

            <br>

            <label>Target Url: <input
            type="text" name='header[target_site]'></input></label>

            <br>
            <label>Please choose your form's method:
            <input type='radio' name="header[form_method]" value="POST" checked>Post</input>
            <input type='radio' name="header[form_method]" value="GET">Get</input>
            </label>
              <br>
                    <input type="submit" class="submit-button" value="Create a new form header">

          </div>
        </li>

      </ul>
    </section>



      <section class= 'display_field_container'>
        <div class='display_field'>
        You need to make the header first.  Please enter the header attributes.
        </div>

      </section>
    </div>




</html>