<!-- app/views/forms/new.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>FormApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "new_form" %>
</head>


<section class="main group">
  TEST TEST
  <div class="navdiv">
    <div class="logo"></div>
    <nav>
      <li></li>
      <li></li>
    </nav>
  </div>



  <div class="display1 group">


    <section class='input_field_container'>
      display1
      <ul>
        <li>
          <h3>Please enter your form header attributes here:</h3>
          <div>
            <form class = "input_field" method = 'post'
            action='/users/<%=current_user.id%>/forms'>
            <label>Form Name: <input
            type="text" name='header[form_name]'></input></label>
              <br>
              </label>

              <input type="hidden" name='header[owner_id]' value= <%=current_user.id%>
              <br>

            Description: <textarea rows="2" cols="20"
            name='header[description]'>Type a description of your form's purpose here.</textarea>

            <br>

            <label>Target Url: <input
            type="text" name='header[target_site]'></input></label>

            <br>
              <label>Integrate Captcha? <input type="checkbox"
              name="header[captcha]" value="true" checked></label>

              <br>
                    <input type="submit" class="submit-button">


          </div>
        </li>

      </ul>
    </section>



      <section class= 'display_field_container'>
      <!-- NOTE SHOULD HAVE EACH BUTTON STYLED SIMILAR TO THE STYLE IT CONTAINS -->
        <div class="style_button_container">
        <nav>
          <button>Style 1</button>
          <button>Style 2</button>
          <button>Style 3</button>
          <button>Style 4</button>
        </nav>
        </div>
        <br>

        <div class='display_field'>
<!-- NOTE: SHOULD CALL RENDER HERE, WITH A DEFAULT BLANK FORM -->
        FORM DOES NOT EXIST
        </div>


      </section>

    </div>



  <div class="footer">
    <div class="logo"></div>
    <nav>
      <li></li>
      <li></li>
    </nav>
    </div>
  </div>

</section>




</html>