<!-- app/views/forms/new.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>FormApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
    <link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tag %>
</head>


<section class="main group">
  <div class="navdiv">
    <div class="logo"></div>
    <nav>
    </nav>
  </div>



  <div class="display1 group">

    <section class="title">
      <h2>PseudooWufoo!<h2>
    </section>

     <%= render "layouts/navbar" %>

    <% if !flash[:error].nil? %>
      <div id="error">
        <p><%= flash[:error] %></p>
        <div class="clear"></div>
      </div>
    <% end %>


    <section class='input_field_container'>
      display1
      <ul>
        <li>
          <h3>Please enter your form header attributes here:</h3>
          <div>
            <form class="input_field" method='post'
            action='/users/<%=current_user.id%>/forms'>

            <input
               name="authenticity_token"
               type="hidden"
               value="<%= form_authenticity_token %>">


            <label>Form Name: <input
            type="text" name='header[form_name]'></input></label>
              <br>
              </label>

              <input type="hidden" name='header[owner_id]' value= <%=current_user.id%>
              <br>

            Description: <textarea rows="2" cols="20"
            name='header[description]'>Type a description of your form's purpose here.</textarea>

            <br>

            <label>Target Url: <input
            type="text" name='header[target_site]'></input></label>

            <br>
              <label>Integrate Captcha? <input type="checkbox"
              name="header[captcha]" value="true"></label>

              <br>
                    <input type="submit" class="submit-button" value="Create a new form header">

          </div>
        </li>

      </ul>
    </section>



      <section class= 'display_field_container'>
        <div class='display_field'>
        FORM DOES NOT EXIST
        </div>

      </section>

    </div>


  <div class="footer">
    <div class="logo"></div>
    <nav>
    </nav>
    </div>
  </div>

</section>




</html>