<nav>
  <section class="title">
    <h2>PseudooWufoo!<h2>
  </section>
  <% if current_user %>
    <ul>
      <li>Logged in as: <strong><%= current_user.name %></strong></li>

      <% if current_user.guest %>
        <li><%= button_to "Become a member", new_user_url, method: :get  %></li>
        <li><%= button_to "Logout", session_url, method: :delete %></li>
      <% end %>
  <% else %>
    <%= button_to "Log In", new_session_url, method: :get  %>
    </ul>
 <% end %>


   <%= link_to "View Forms", user_forms_path(current_user.id), :class => "button" %><br>
   <%= link_to "Make New Form",  new_user_form_path(current_user.id), :class => "button" %><br>
</nav>