<!DOCTYPE html>
<html>
<head>
  <title>FormApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
  <link href="http://fonts.googleapis.com/css?family=Allan:bold" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Cardo" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Raleway:100" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Allerta" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lekton" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Molengo" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Corben:bold" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>

</head>

<section class="main group">

  <section class='group display1'>


    <% if !current_user.nil? %>

    <div class='form-div margin-right'>
      <h3>Make a new form!</h3>
      <a class="button-link formCreate-button" href="/users/<%=current_user.id%>/forms/new">Click here!</a>
    </div>
    <!-- test -->

    <div class='form-div newUser-div margin-right'>
      <h3>See Your Forms</h3>
      <a class="button-link formCreate-button" href='<%= user_forms_url(current_user.id)%>'>Click here!</a>
    </div>

    <% else %>

    <div class='form-div newUser-div margin-right'>
      <h3>Join as a new user</h3>
      <a class="button-link formCreate-button" href='<%= new_user_url%>'>Click here!</a>
    </div>

    <% end %>

    <section class="title">
      <h2>PseudooWufoo</h2>
    </section>


    <% if current_user %>
      <ul>

        <li>Logged in as: <strong><%= current_user.name %></strong></li>


        <% if current_user.guest != nil %>
          <li><%= button_to "Become a member", new_user_url, method: :get  %></li>
        <li><%= button_to "Logout", session_url, method: :delete %></li>
        <% else %>
        <li><%= button_to "Logout", session_url, method: :delete %></li>
        <% end %>
    <%else%>
      <li><%= button_to "Log In", new_session_url, method: :get  %></li>
    </ul>
    <% end %>



    <% if !flash[:error].nil? %>
      <div id="error">
        <p><%= flash[:error] %></p>
        <div class="clear"></div>
      </div>
    <% end %>



 <%= yield %>

</section>
</section>

</html>
